CONNECT_SOURCE=glooko
CONNECT_GLOOKO_ENV=eu
CONNECT_GLOOKO_EMAIL=
CONNECT_GLOOKO_PASSWORD=
CONNECT_GLOOKO_TIMEZONE=Europe/London
CONNECT_GLOOKO_AUTH_MODE=api
CONNECT_GLOOKO_USE_V3_GRAPH=true
CONNECT_GLOOKO_SKIP_ENTRIES=false
